kmymoney-api/src/main/resources2/kmymoney_online_venetian_blind.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="KMYMONEY-FILE" type="KMYMONEY-FILEType"/>
  <xs:complexType name="CREATION_DATEType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:date" name="date"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LAST_MODIFIED_DATEType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:date" name="date"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VERSIONType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:byte" name="id"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="FIXVERSIONType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:byte" name="id"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="FILEINFOType">
    <xs:sequence>
      <xs:element type="CREATION_DATEType" name="CREATION_DATE"/>
      <xs:element type="LAST_MODIFIED_DATEType" name="LAST_MODIFIED_DATE"/>
      <xs:element type="VERSIONType" name="VERSION"/>
      <xs:element type="FIXVERSIONType" name="FIXVERSION"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ADDRESSType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="telephone" use="optional"/>
        <xs:attribute type="xs:string" name="county" use="optional"/>
        <xs:attribute type="xs:string" name="zipcode" use="optional"/>
        <xs:attribute type="xs:string" name="street" use="optional"/>
        <xs:attribute type="xs:string" name="city" use="optional"/>
        <xs:attribute type="xs:string" name="postcode" use="optional"/>
        <xs:attribute type="xs:string" name="state" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="USERType">
    <xs:sequence>
      <xs:element type="ADDRESSType" name="ADDRESS"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name"/>
    <xs:attribute type="xs:string" name="email"/>
  </xs:complexType>
  <xs:complexType name="INSTITUTIONSType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:byte" name="count"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PAYEEType">
    <xs:sequence>
      <xs:element type="ADDRESSType" name="ADDRESS"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="optional"/>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:byte" name="matchingenabled" use="optional"/>
    <xs:attribute type="xs:string" name="email" use="optional"/>
    <xs:attribute type="xs:string" name="reference" use="optional"/>
  </xs:complexType>
  <xs:complexType name="PAYEESType">
    <xs:sequence>
      <xs:element type="PAYEEType" name="PAYEE" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:byte" name="count"/>
  </xs:complexType>
  <xs:complexType name="COSTCENTERSType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:byte" name="count"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="TAGSType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:byte" name="count"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="SUBACCOUNTType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="id" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="SUBACCOUNTSType">
    <xs:sequence>
      <xs:element type="SUBACCOUNTType" name="SUBACCOUNT" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ACCOUNTType" mixed="true">
    <xs:sequence>
      <xs:element type="SUBACCOUNTSType" name="SUBACCOUNTS" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="parentaccount" use="optional"/>
    <xs:attribute type="xs:string" name="name" use="optional"/>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="lastmodified" use="optional"/>
    <xs:attribute type="xs:string" name="institution" use="optional"/>
    <xs:attribute type="xs:string" name="number" use="optional"/>
    <xs:attribute type="xs:string" name="lastreconciled" use="optional"/>
    <xs:attribute type="xs:string" name="opened" use="optional"/>
    <xs:attribute type="xs:string" name="currency" use="optional"/>
    <xs:attribute type="xs:byte" name="type" use="optional"/>
    <xs:attribute type="xs:string" name="description" use="optional"/>
  </xs:complexType>
  <xs:complexType name="ACCOUNTSType">
    <xs:sequence>
      <xs:element type="ACCOUNTType" name="ACCOUNT" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:byte" name="count"/>
  </xs:complexType>
  <xs:complexType name="SPLITType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="value" use="optional"/>
        <xs:attribute type="xs:string" name="price" use="optional"/>
        <xs:attribute type="xs:string" name="bankid" use="optional"/>
        <xs:attribute type="xs:string" name="id" use="optional"/>
        <xs:attribute type="xs:string" name="action" use="optional"/>
        <xs:attribute type="xs:string" name="number" use="optional"/>
        <xs:attribute type="xs:string" name="memo" use="optional"/>
        <xs:attribute type="xs:string" name="payee" use="optional"/>
        <xs:attribute type="xs:string" name="shares" use="optional"/>
        <xs:attribute type="xs:string" name="account" use="optional"/>
        <xs:attribute type="xs:byte" name="reconcileflag" use="optional"/>
        <xs:attribute type="xs:string" name="reconciledate" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="SPLITSType">
    <xs:sequence>
      <xs:element type="SPLITType" name="SPLIT" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TRANSACTIONType">
    <xs:sequence>
      <xs:element type="SPLITSType" name="SPLITS"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="commodity" use="optional"/>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="memo" use="optional"/>
    <xs:attribute type="xs:date" name="entrydate" use="optional"/>
    <xs:attribute type="xs:date" name="postdate" use="optional"/>
  </xs:complexType>
  <xs:complexType name="TRANSACTIONSType">
    <xs:sequence>
      <xs:element type="TRANSACTIONType" name="TRANSACTION" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:byte" name="count"/>
  </xs:complexType>
  <xs:complexType name="PAIRType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="value" use="optional"/>
        <xs:attribute type="xs:string" name="key" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="KEYVALUEPAIRSType">
    <xs:sequence>
      <xs:element type="PAIRType" name="PAIR" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SCHEDULESType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:byte" name="count"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="SECURITIESType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:byte" name="count"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="CURRENCYType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:byte" name="saf"/>
        <xs:attribute type="xs:string" name="name"/>
        <xs:attribute type="xs:byte" name="pp"/>
        <xs:attribute type="xs:string" name="id"/>
        <xs:attribute type="xs:byte" name="scf"/>
        <xs:attribute type="xs:string" name="symbol"/>
        <xs:attribute type="xs:byte" name="rounding-method"/>
        <xs:attribute type="xs:byte" name="type"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="CURRENCIESType">
    <xs:sequence>
      <xs:element type="CURRENCYType" name="CURRENCY"/>
    </xs:sequence>
    <xs:attribute type="xs:byte" name="count"/>
  </xs:complexType>
  <xs:complexType name="PRICESType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:byte" name="count"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="REPORTSType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:byte" name="count"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BUDGETSType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:byte" name="count"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ONLINEJOBSType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:byte" name="count"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="KMYMONEY-FILEType">
    <xs:sequence>
      <xs:element type="FILEINFOType" name="FILEINFO"/>
      <xs:element type="USERType" name="USER"/>
      <xs:element type="INSTITUTIONSType" name="INSTITUTIONS"/>
      <xs:element type="PAYEESType" name="PAYEES"/>
      <xs:element type="COSTCENTERSType" name="COSTCENTERS"/>
      <xs:element type="TAGSType" name="TAGS"/>
      <xs:element type="ACCOUNTSType" name="ACCOUNTS"/>
      <xs:element type="TRANSACTIONSType" name="TRANSACTIONS"/>
      <xs:element type="KEYVALUEPAIRSType" name="KEYVALUEPAIRS"/>
      <xs:element type="SCHEDULESType" name="SCHEDULES"/>
      <xs:element type="SECURITIESType" name="SECURITIES"/>
      <xs:element type="CURRENCIESType" name="CURRENCIES"/>
      <xs:element type="PRICESType" name="PRICES"/>
      <xs:element type="REPORTSType" name="REPORTS"/>
      <xs:element type="BUDGETSType" name="BUDGETS"/>
      <xs:element type="ONLINEJOBSType" name="ONLINEJOBS"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
